body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-55px;
  width:1425px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:12px;
  width:94px;
  height:53px;
  display:flex;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:28px;
  width:26px;
  height:26px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:28px;
  width:148px;
  height:21px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u159_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u159.mouseOver {
  opacity:0.6;
}
#u159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:28px;
  width:873px;
  height:30px;
}
#u160_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:30px;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:291px;
  height:30px;
  display:flex;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:0px;
  width:291px;
  height:30px;
  display:flex;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:230px;
  height:94px;
  visibility:hidden;
}
#u165_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:94px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:94px;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:34px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:34px;
  display:flex;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:230px;
  height:30px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:230px;
  height:30px;
  display:flex;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u170 {
  position:absolute;
  left:678px;
  top:86px;
  visibility:hidden;
}
#u170_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:364px;
  height:179px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:179px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:179px;
  display:flex;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u172_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:48px;
  width:300px;
  height:46px;
  display:flex;
  font-size:15px;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u172.disabled {
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:16px;
  width:329px;
  height:21px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:111px;
  width:140px;
  height:40px;
  display:flex;
  font-size:15px;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:110px;
  width:333px;
  height:21px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:152px;
  width:1019px;
  height:208px;
  display:flex;
  font-size:14px;
}
#u176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:383px;
  width:120px;
  height:21px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:1131px;
  width:199px;
  height:21px;
  display:flex;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:1170px;
  width:434px;
  height:21px;
  display:flex;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u179_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u179.mouseOver {
}
#u179_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:696px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:415px;
  width:1116px;
  height:696px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
